/* Estilo geral da tabela de clientes */
#clients-table {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
}

#clients-table th, #clients-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #DDD;
    background-color: #4D4C7D;
    color: #F5F5F5;
}

#clients-table th {
    background-color: #363062;
    font-weight: bold;
}

#clients-table tr:nth-child(even) {
    background-color: #403D64;
}

/* Botão de criação de cliente */
.create-button button {
    background-color: #F99417;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px 0;
}

.create-button button:hover {
    background-color: #FFAE42;
}

/* Estilo para a paginação */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #F99417;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.pagination button:hover {
    background-color: #FFAE42;
}

.pagination button.active {
    background-color: #FFAE42;
    font-weight: bold;
    cursor: default;
}
